[Unit]
Description=Rpi Clock Python Script

[Service]
WorkingDirectory=/home/pi/Rpi-Clock
ExecStart=/usr/bin/python3 /home/pi/Rpi-Clock/lcd.py > /dev/null 2>&1
KillSignal=SIGINT

[Install]
WantedBy=default.target
